.header {
    
    padding: 20px 0;
    background-color: #4a90e2; // Цвет фона
    color: white; // Цвет текста
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100vw;

    & > h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
